@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    overflow-x: hidden;
}

/* Menu --------------------------- */

.navbar {
    width: 100%;
    padding: 15px;
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #333333ec;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

.nav-links {
    display: flex;
    list-style: none;
    font-family: 'Josefin Sans';
}

.nav-links li a {
    color: #fff;
    font-size: 18px;
    padding: 10px 18px;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

.hamburger-icon {
    cursor: pointer;
}

.hamburger-icon span {
    height: 3px;
    width: 30px;
    margin: 5px;
    display: block;
    transition: 0.3s;
    background-color: #fff;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links.active {
    display: block;
}


.nav-links a:hover {
    color: #f39c12;
}

#topo,
#contact {
    scroll-margin-top: 80px;
}

#about,
#services {
    scroll-margin-top: 55px;
}

html {
    scroll-behavior: smooth;
}

/* Bolinha do Whats */

.whatsapp-float {
    
    width: 50px;
    right: 20px;
    height: 50px;
    bottom: 20px;
    z-index: 1000;
    color: white;
    position: fixed;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    
    
    background-color: #25d366;
    box-shadow: 2px 2px 3px #999;
}

.whatsapp-float i {
    margin-top: 10px;
}

.whatsapp-float a {
    color: white;
    display: block;
}



/* Inicio --------------------------- */

.topPage {
    background: url(../img/Background.png) no-repeat center center;
    width: 100%;
    height: 800px;
    display: flex;
    text-align: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.topPage h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding-top: 260px;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.topPage p {
    color: #FFBE00;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.impactDescricaoSobreNos {
    font-weight: bold;
}

/* Section 1 --------------------------- */

.section-1 h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    padding: 15px 0px 15px;
    text-transform: uppercase;
    margin: 20px 0px 20px 0px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.section-1 p {
    font-family: 'Montserrat';
}

.section-1 h3 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 15px 0px 15px;
    font-family: 'Montserrat';
}

.imagemCaminhao {
    padding: 60px 0px 0px 0px;
}

/* Section 2 --------------------------- */

.section-2 {
    width: 100%;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
    background-size: cover;
    background-color: #f4f4f4;

}

.section-2 h3 {
    color: #000;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0px 15px;
    font-family: 'Poppins';
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.alinhamentoS2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.fontDescricaoImagem {
    color: #000;
    flex-wrap: wrap;
    text-align: justify;
    font-family: 'Montserrat';
}

.imgPessoa {
    width: 200px;
    height: 200px;
    display: flex;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #838383d8;
    font-family: Arial, sans-serif;
}

/* Section 3 --------------------------- */

.section-3 h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 50px 0px 15px;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.section-3 h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px 15px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.section-3 li {
    width: 300px;
    height: 400px;
    color: white;
    margin-top: 40px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: #FFBE00;
    border-radius: 30px 10px;
    background-color: #0e5abd;
    padding: 20px 20px 30px 20px;
    border-width: 0px 0px 4px 0px;
    box-shadow: 0px 13px 21px rgba(0, 0, 0, 0.5);
}

.section-3 p {
    font-family: 'Montserrat';
}

/* Section 3.5 --------------------------- */

 .section-3_5 {
    margin: 0px;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.titulo-3_5 { 
    padding: 20px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins';
    text-transform: uppercase;
}


.ar-condicionado, .cata-vento {
    flex: 1;
    display: flex;
    padding: 50px;
    color: white;
    min-height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
}


.ar-condicionado {
    background:url(../img/ar-backgroud.png) ;
    background-size:cover;
}


.cata-vento {
    background:url(../img/cata-backgroud.png) ;
    background-size:cover;
}


.section-3_5 h3 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.section-3_5 p {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    font-weight: italic;
    font-family: 'Montserrat';
}

.section-3_5 ul {
    padding-top: 10px;
    list-style-type: none;
}

.section-3_5 li {
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}

.section-3_5 ul li i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}


.observacoes-3_5{
    color: #333;
    display: block;
    text-align: center;
    font-family: 'Montserrat';
} 

/* Section 4 --------------------------- */

.section-4 i {
    padding-right: 10px;
}

.freteiro {
    padding-top: 50px;
}

.section-4 p {
    margin-top: 50px;
    font-weight: italic;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.section-4 h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins';
    color: rgb(82, 82, 82);
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.section-4 li {
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}

.section-4 ul {
    padding-top: 20px;
    list-style-type: none;
}

/* Section 4.5 --------------------------- */

.section-4_5 {
    color: #333;
    background-color: #f4f4f4;
}

.section-4_5 ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.section-4_5 li {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    max-width: calc(50% - 20px);
}

.section-4_5 h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins';
    color: rgb(82, 82, 82);
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.section-4_5 .titulo-4_5 {
    padding-bottom: 10px;
}

.section-4_5 h3 {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    text-transform: uppercase;
    
}

.section-4_5 p {
    font-weight: italic;
    font-family: 'Montserrat';
}

.section-4_5 i {
    color: #000;
    font-size: 24px;
    margin: 10px 10px 0px 0px;
}

.section-4_5 .estatistica p {
    font-size: 16px;
    font-weight: italic;
    font-family: 'Montserrat';
}

/* Define layout 2x2 para os itens */
.section-4_5 .estatistica {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-4_5 .item {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-4_5 .item i {
    font-size: 24px;
    color: #FE9900;
    margin-bottom: 10px;
}

.section-4_5 .item p {
    color: #333;
    font-size: 16px;
}

.section-4_5 .estatistica h2 {
    margin: 10px 0;
    font-size: 32px;
    color: #FE9900;
}



/* Section 5 --------------------------- */

.mapa {
    width: 100%;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-5 h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    padding: 50px 0px 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Section 6 --------------------------- */

.section-6 h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 0px 0px 20px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.section-6 p {
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'montserrat';
    
}

.cat2 p {
    font-size: 14px;
    text-decoration: none;
}

.contatos h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #d60c0c;
    font-weight: bold;
    font-family: 'Poppins';
}

.section-6 i {
    padding-right: 7px;
}

.section-6 img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin: 100px 0px 0px 100px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}

/* Section 7 --------------------------- */

/* .section-7 h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px 15px;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.section-7 h3 {
    margin: 10px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
}

.section-7 li {
    width: 300px;
    height: 450px;
    margin-top: 30px;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(142, 142, 142, 0.295);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.section-7 p {
    margin: 10px;
    text-align: center;
    font-family: 'Montserrat';
    color: rgb(255, 246, 235);
}

.pessoa1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background: #FFBE00;
    box-sizing: content-box;
    margin: 10px 10px 10px 50px;

}

.section-7 {
    background: url(../img/blur-background-2.jpg) no-repeat center center;
    width: 100%;
    padding: 30px;
    background-size: cover;
} */

/* section 8 --------------------------- */

.section-8 {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #24636C;
}

.section-8 img {
    width: 300px;
    padding-top: 20px;
}

.section-8 h2 {
    color: white;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Poppins';
}

.section-8 p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
}

/* Rodapé --------------------------- */

.footer {
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    background-color: #333;
}

.footer-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin: 10px 0;
    min-width: 250px;
}

.footer-section h4 {
    font-size: 1.2em;
    color: #ffd700;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    font-size: 0.9em;
    text-decoration: none;
}

.footer-section ul {
    padding: 0;
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ffd700;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    width: 30px;
    height: 30px;
    color: #333;
    margin: 0 10px;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #FFBE00;
}

.footer-direitos {
    margin-top: 20px;
    font-size: 0.8em;
    padding-top: 10px;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
}

/* adicionais de estilização --------------------------- */

.corAmarelo {
    color: #FFBE00;
}

.corAmarelo2 {
    color: #FE9900;
}

.corAzul {
    color: #0e5abd;
}

.corVermelho {
    color: #d60c0c;
}

.corPreto {
    color: #000000f1;
}

.botao {
    border: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: 'poppins';
    text-transform: uppercase;
    box-shadow: 0px 13px 21px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#E5403E, #862828);
}

.botao:hover {
    background: linear-gradient(#b92a28, #701515);
}