.custom-toggler {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: 500; 
    text-transform: uppercase;
    letter-spacing: 1px; 
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}


h2{
    font-family: 'Oswald';  
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px; 
}

p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5; 
    font-size: 16px; 
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5; 
    font-size: 16px;
}