@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet');

body {
    overflow-x: hidden;
    background-color: #333;
    color: #fff;
}

/** Header **/

.top {
    position: relative;
    height: 100vh;
    background: linear-gradient(135deg, #555555, #333333);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Centraliza na horizontal */
}

h1 {
    font-family: 'Montserrat';
    color: white;
    font-size: 120px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* Centraliza o h1 horizontalmente */
    z-index: 2;
}


.imgPessoa {
    position: absolute;
    bottom: 0px;
    width: 870px;
    z-index: 1;
}

/** Menu básico **/
.navbar {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #1f1f1f;
    border-bottom: 2px solid #F77309;
}

/* Ocultar a navegação inicialmente */
.nav-links {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease-in-out;
    /* Transição suave */
    z-index: 9;
}

/* Estilo da lista de navegação */
.nav-links ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Estilo dos itens de navegação */
.nav-links ul li {
    margin: 20px 0;
}

/* Estilo dos links */
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
}

/* Estilizar o ícone de hambúrguer */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 11;
    margin: 10px;
}

/* Estilo das barras do hambúrguer */
.hamburger span {
    width: 30px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s;
}

/* Quando o menu é ativado */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

/* Quando o menu de navegação está ativo */
.nav-links.active {
    top: 0;
}

/** breve descrição **/

.descricao {
    padding-right: 50px;
}

.line {
    border-right: 2px solid #F77309;
    color: #bbbbbb;
    font-family: 'Source Code Pro';
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

/* Animação para a primeira linha */
.typing-animation {
    animation: typing 3s steps(40) 1s normal both,
        blinkCursorEnd 4s steps(40) normal both;
}

/* Segunda linha com delay */
.typing-animation.delay {
    animation: typing2 2s steps(20) 1s normal both,
        blinkCursor 500ms infinite;
    animation-delay: 4s;
    border-right: 2px solid transparent;
    /* Cursor invisível no início */
}

/* Animação de digitação para a primeira linha */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 19em;
    }
}

/* Animação de digitação para a segunda linha */
@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 9em;
    }
}

/* Para sumir o cursor ao final da primeira linha */
@keyframes blinkCursorEnd {

    0%,
    90% {
        border-right-color: #F77309;
    }

    100% {
        border-right-color: transparent;
    }
}

/* Animação do cursor com início com delay */
@keyframes blinkCursor {

    0%,
    50% {
        border-right-color: transparent;
    }

    51%,
    100% {
        border-right-color: #F77309;
    }
}


/*? section about !*/
.about-section {
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informacoes,
.informacoes2 {
    display: flex;
    padding: 50px 0px 0px 0px;
    color: #1f1f1f;
    margin-bottom: 0px;
    justify-content: space-between;
    line-height: 1.2;
    font-family: 'Work Sans';
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.informacoes i {
    padding-right: 10px;
    color: #F77309;

}

.informacoes {
    font-size: 28px;
}

.informacoes2 {
    font-size: 20px;
    padding-right: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F77309;
}

.about {
    display: flex;
    gap: 100px;
}

/*? section Projetos !*/

/*! Este título foi adptado de Daniel Riemer !*/
.titulo-animado {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    padding: 1.5em 0em;
    position: relative;
    width: 30em;

    span {

        font: 25px "Montserrat";
        font-weight: bold;
        letter-spacing: 0;
        padding: .25em 0 .325em;
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255, 255, 255, 0.418);
        /* -webkit-text-stroke: 1px #1f1f1f; */

        /* Clip Background Image */

        background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;

        /* Animate Background Image */

        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

        /* Activate hardware acceleration for smoother animations */

        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;

    }
}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/*!--------!*/

.projetos{
    text-align: center;
}

.projetos .project-item {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

.project-item{
    padding: 30px;
    position: relative;
}

.project-title {
    font-size: 25px;
    font-family: 'Work Sans';
    z-index: 2; 
}

.project-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-item:hover .project-overlay {
    opacity: 1;
}

.project-overlay img {
    z-index: 2;
    object-fit: cover; 
    position: absolute; 
    max-width: 300px; 
    max-height: 300px;
    width: auto; 
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s ease; 
}

.view-button {
    position: absolute;
    background-color: #F77309;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    transition: transform 1s linear;
    z-index: 3;
    transform: translate(-50%, -50%); 
}


.view-button:hover {
    transform: scale(1.1);
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F77309;   
}

/*? Section Contato !*/

.contact-title {
    font-family: 'Work Sans';
    font-size: 36px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    align-items: center; /* Centraliza verticalmente o ícone e o texto */
    font-size: 18px;
}

.contact-icon {
    font-size: 25px;
    color: #F77309; 
    margin-right: 10px; 
}

.contact-text {
    padding-bottom: 30px; 
    font-family: 'Montserrat';
}

.contato {
    padding: 12px 20px;
    background-color: #F77309; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.contato:hover {
    background-color: #ac5106; /* Cor do botão ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/*! Footer !*/

.styled-link:hover {
    background-color: #7e7e7e;
    /* Cor ao passar o mouse */
    transform: translateY(-2px);
    /* Efeito de elevação */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Sombras maiores ao hover */
}

.codeBy {
    margin: 10px;
}